<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<body>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>City</th>
      <th>Profession</th>
    </tr>
    <% users.forEach(user=> {%>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.age %>
        </td>
        <td>
          <%= user.city %>
        </td>
        <td>
          <%= user.profession %>
        </td>
      </tr>
      <% })%>

  </table>
  <div>
    <a href="/form">Add user</a>
    <a href="/remove/user">Remove user</a>
  </div>
</body>

</html>